.progmatic_footer_logo {
    font-family:Black Han Sans;
}
.pragmatic_footer_button{
    font-size:.6rem;
}
.progmatic_footer{
    text-align: center; margin-top: 2rem;
}
.progmatic_logo {
    font-family:Black Han Sans;
}

.progmatic_header{
    text-align: center; margin: 2rem 0;
}